@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <h5 class="text-white text-center sidebar-heading">@EntriesSubject</h5>
        <a class="mode-data" @onclick="@RefreshEntries">Yenile</a>

        <ul class="list-group">
            <EntriesComponent @ref="@entriesComponent" />
        </ul>

    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    public string EntriesSubject { get; set; } = "bugün";

    private EntriesComponent entriesComponent;

    private async Task RefreshEntries()
    {
        await entriesComponent.RefreshList();
    }
}